.card {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 0.25rem;
    display: block;
    margin-bottom: 0.75rem;
    position: relative;
}
.card-block {
    padding: 1.25rem;
}
.card-title {
    margin-bottom: 0.75rem;
}
.card-subtitle {
    margin-bottom: 0;
    margin-top: -0.375rem;
}
.card-text:last-child {
    margin-bottom: 0;
}
.card-link:hover {
    text-decoration: none;
}
.card-link + .card-link {
    margin-left: 1.25rem;
}
.card > .list-group:first-child .list-group-item:first-child {
    border-radius: 0.25rem 0.25rem 0 0;
}
.card > .list-group:last-child .list-group-item:last-child {
    border-radius: 0 0 0.25rem 0.25rem;
}
.card-header {
    background-color: #f5f5f5;
    border-bottom: 1px solid #e5e5e5;
    padding: 0.75rem 1.25rem;
}
.card-header:first-child {
    border-radius: 0.25rem 0.25rem 0 0;
}
.card-footer {
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
    padding: 0.75rem 1.25rem;
}
.card-footer:last-child {
    border-radius: 0 0 0.25rem 0.25rem;
}
.card-primary {
    background-color: #0275d8;
    border-color: #0275d8;
}
.card-success {
    background-color: #5cb85c;
    border-color: #5cb85c;
}
.card-info {
    background-color: #5bc0de;
    border-color: #5bc0de;
}
.card-warning {
    background-color: #f0ad4e;
    border-color: #f0ad4e;
}
.card-danger {
    background-color: #d9534f;
    border-color: #d9534f;
}
.card-primary-outline {
    background-color: transparent;
    border-color: #0275d8;
}
.card-secondary-outline {
    background-color: transparent;
    border-color: #ccc;
}
.card-info-outline {
    background-color: transparent;
    border-color: #5bc0de;
}
.card-success-outline {
    background-color: transparent;
    border-color: #5cb85c;
}
.card-warning-outline {
    background-color: transparent;
    border-color: #f0ad4e;
}
.card-danger-outline {
    background-color: transparent;
    border-color: #d9534f;
}
.card-inverse .card-footer, .card-inverse .card-header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.card-inverse .card-blockquote, .card-inverse .card-footer, .card-inverse .card-header, .card-inverse .card-title {
    color: #fff;
}
.card-inverse .card-blockquote > footer, .card-inverse .card-link, .card-inverse .card-text {
    color: rgba(255, 255, 255, 0.65);
}
.card-inverse .card-link:focus, .card-inverse .card-link:hover {
    color: #fff;
}
.card-blockquote {
    border-left: 0 none;
    margin-bottom: 0;
    padding: 0;
}
.card-img {
    border-radius: 0.25rem;
}
.card-img-overlay {
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    position: absolute;
    right: 0;
    top: 0;
}
.card-img-top {
    border-radius: 0.25rem 0.25rem 0 0;
}
.card-img-bottom {
    border-radius: 0 0 0.25rem 0.25rem;
}
@media (min-width: 544px) {
    .card-deck {
        border-spacing: 1.25rem 0;
        display: table;
        table-layout: fixed;
    }
    .card-deck .card {
        display: table-cell;
        vertical-align: top;
        width: 1%;
    }
    .card-deck-wrapper {
        margin-left: -1.25rem;
        margin-right: -1.25rem;
    }
}
@media (min-width: 544px) {
    .card-group {
        display: table;
        table-layout: fixed;
        width: 100%;
    }
    .card-group .card {
        display: table-cell;
        vertical-align: top;
    }
    .card-group .card + .card {
        border-left: 0 none;
        margin-left: 0;
    }
    .card-group .card:first-child {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }
    .card-group .card:first-child .card-img-top {
        border-top-right-radius: 0;
    }
    .card-group .card:first-child .card-img-bottom {
        border-bottom-right-radius: 0;
    }
    .card-group .card:last-child {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
    }
    .card-group .card:last-child .card-img-top {
        border-top-left-radius: 0;
    }
    .card-group .card:last-child .card-img-bottom {
        border-bottom-left-radius: 0;
    }
    .card-group .card:not(:first-child):not(:last-child) {
        border-radius: 0;
    }
    .card-group .card:not(:first-child):not(:last-child) .card-img-bottom, .card-group .card:not(:first-child):not(:last-child) .card-img-top {
        border-radius: 0;
    }
}
@media (min-width: 544px) {
    .card-columns {
        -moz-column-count: 3;
        -moz-column-gap: 1.25rem;
    }
    .card-columns .card {
        display: inline-block;
        width: 100%;
    }
}