
.boxed {
    margin-top: 51px;
}

/*Navbar*/

.navbar-default .navbar-brand {    
    color: #003F79;
}

.navbar-default {
    font-size: 15px;
    /*background-color: #FFE500;*/
    background-color: #fff;
    border-bottom-width: 0px;
}
.navbar-default .navbar-nav>li>a {
    color: #003F79;
    background-color: #FFE500;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    color: #FFE500;
    /*background-color: rgba(26, 88, 143, 1);*/
    background-color: #1A588F;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #FFE500;
    background-color: #003F79;
}
.navbar-default .navbar-toggle {
    border-color: #003f79;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #003f79;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #003f79;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffe500;
}


.online-navbar .nav-item-title{
    display: none;
}

.online-navbar li a span{
    overflow: hidden;
}    

#features{
     
}

.page-header {
    margin-top: 20px;
    background-color: #FFE500;
    padding: 10px;
    font-size: 25px;
    color: #003F7A;
}

#features .box-item a {
    text-align: center;
    display: block
}

#features .box-item a:hover {

    -webkit-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
    text-decoration: none;
}


.img-logo {
    padding: 0px;
    margin-top: 0px;
    top: 0px;
}


.img-logo img{
    width: auto;
}

#footer {
    margin-top: 20px;
}


@media (max-width: 767px) {
    
    #features .page-header {
        /*margin: 10px;*/
    }

    #features .box-item a h3{
        font-size: 20px;
    }

    #features .box-item a p{
         
    }

    .online-navbar .nav-item-title{
        display: inline-block;
        top: 1px;
        line-height: 1;
        font-weight: 400;
        position: relative; 
        padding-left: 5px; 
    }

}

@media (min-width: 970px) {
    .container {
        max-width: 730px;
    }    
}


@media (max-width: 478px) {

    .page .img-logo {         
        overflow: hidden;
        width: 68px;
    }

} 

.page-header-custom{

    margin-left: 0 !important;
    margin-right: 0 !important;

}
